* {
    box-sizing: border-box;
    margin: 10px;
}

nav {
    padding:10px;
}

#timer {
    position: absolute;
    top: 20px;
    right: 20px;
}

main {
    width: 500px;
    text-align: center;
}

.hidden {
    display: none;
}

.show {
    display: block;
}